**pyc
**swp
**log
**__pycache__
**venv
**drafts
**.cache
**sqlite
**.idea
**.vscode
**.DS_Store
**.mypy_cache/
**.pytest_cache/
**.ipynb_checkpoints/
28/get_wyndham_data.py
28/my_first_graph.html
28/wyndham3.py
28/wyndham_data.csv
28/wyndham_data.py
28/wyndham_data.txt
28/wyndham_data2.py
wyndham.html
wyndham_data.csv
wyndham_data.json
wyndham_data.txt
